body{
  width: 100%;
  height: 100%;
  background-image: url(./images/sky.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.wrapper, .background{
  width: 100%;
  height: 100%;
}
.rocket{
  position: absolute;
  top: 45%;
  left: 35%;
}
#planet1 {
  position: absolute;
  top: 65px;
  left: 805px;
}
#planet2 {
  position: absolute;
  top: 20px;
  left: 80px;
}
#planet5 {
  position: absolute;
  top: 450px;
  left: 25px;
}
#planet6 {
  position: absolute;
  top: 450px;
  left: 565px;
}
#planet8 {
  position: absolute;
  top: 470px;
  left: 1150px;
}
#planet9 {
  position: absolute;
  top: 350px;
  left: 785px;
}
#planet10 {
  position: absolute;
  top: 500px;
  left: 200px;
}
#planet11 {
  position: absolute;
  top: 50px;
  left: 415px;
}